<% include partials/header %>

<div class="ui main text container segment">
      <div  class="ui mainBox huge header">Enter Verification Code</div>
</div>


<div class="my-centered container main">
    <br>
    <br>
    <h3>Please enter the code Bill Alert just sent to your phone via text message.</h3>
</div>

<div class="my-centered container main">
    <form class="ui form"  action="/checkVerificationCode" method="post">
        <div class="ui input">
            <input type="text" name="inputVerificationCode">
        </div>
        <br>
        <br>
        <input type="submit" value="Submit" class="ui green button"/>
    </form>  
</div>


<% include partials/footer %>