<% include partials/header %>


<div class="ui main text container segment">
      <div id="mainBox" class="ui huge header">Bill Alert</div>
</div>

<div class="my-centered container main">
    <p>
        Let Bill Alert do the dirty work of keeping track of your Xero bills and their due dates.
    </p>
</div>
<div class="my-centered container main">
    <p>
        Receive text message notifications on the day your outstanding bills are due.
    </p>
</div>
<div class="my-centered container main">
    <p>
        Pay them instantly with a text reply to Bill Alert.
    </p>
</div>

<% include partials/footer %>