<% include partials/header %>

<div class="ui main text container segment">
      <div  class="ui mainBox huge header">Bill Alert</div>
</div>


<div class="my-centered container main">
    <p>
        <h3>Let Bill Alert do the dirty work of keeping track of your Xero bills and their due dates.</h3>
    </p>
    <p>
        Receive text message notifications near the day your outstanding bills are due.
    </p>
    <p>
        Get a text instantly when a new bill is made for an amount over your set threshold.
    </p>
</div>


<div class="my-centered container main">
    
    <% if (!locals.userLoggedIn) { %>
    
    <p>
        <a class="ui red button" href="/getStarted">Get Started</a>
    </p>
    <br>
   
    <p>
        <a class="ui blue button" href="/login">Login</a>
    </p>
</div>

    <% } %>





<% include partials/footer %>


